*{
	margin: 0;
	padding: 0;
}
body{
    background-color: rgb(14, 104, 14);   
}
.obrazec{
	width:60%;
	min-height:60px;
	margin: 30px auto 0;
	background-color:white;
	border-radius:15px;
	border:2px solid black;
}
.oseba1{
	width:30%;
	height:20%;
	float:left;
	border-radius:15px;
	border:2px solid black;
}
.oseba2{
	width:30%;
	height:20%;
	float:left;
	border-radius:15px;
	border:2px solid black;
}

.oseba3{
	width:30%;
	height:20%;
	float:left;
	border-radius:15px;
	border:2px solid black;
}
.rounds{
	float:left;
	width:30%;
	height:20%;
	border-radius:15px;
	border:2px solid black;
}
#clear{
	clear:both;
}
#play{
    width: 100px;
    height: 35px;
    border: 2px solid blue;
    text-align: center;
    padding-top: 12px;
    font-size: 20px;
    float: left;
    margin-right: 100px;
    margin-left: 210px;
    background-color: blue;
    color:white;
    border-radius: 5px;
}